body{
    background-color: lightblue;
}
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@700&family=Montserrat:wght@300&family=Mouse+Memoirs&display=swap');

@font-face{
    font-family: "EduNSWACT";
    src:url(../fonts/EduNSWACTFoundation-Bold.ttf);

}

*{
  box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: lightblue;
    margin: 0;

}

/*--------------------------------------Estilos base--------------------------------------------------*/
img{
    display: block;
    width: 100%;
    max-width:100%;
}

h1,h2,h3,h4,h5,h6{
   margin: 0;
}
.container{
    width: 100%;
    margin: auto;
}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column {
    width: 100%;
}
/*------------------------Estilos header-------------------------*/
.main-header {
    width: 100%;

}
.logo {
    font-size:3em;
    color:cornsilk;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 100;


}
 .slogan{

    font-size: 1.8em;
    color:rgb(2, 35, 13);
    text-align:center;
    font-family: 'Edu NSW ACT Foundation', cursive;

 }


.main-header_slogan {

    background-color: rgb(121, 214, 45);
    text-align: center;
    color:rgb(3, 34, 8);
    margin: 0 auto;
    padding: 1.8px;

}

.main-header__logo{
    background-color: rgb( 5, 98, 11 );
    text-align:left;
    margin: 0 auto;
    padding: 10px;


}

#logotipo{
  width: 60%;
}


.logo{
    width: 100%;
    height: auto;
}

#nosotras{
width: 40%;

}

#mision-vision{
    width: 80%;
}

#imagen1{
    width: 60%;

}

#imagen2{
    width: 80%;

}

#imagen3{
    width: 80%;

}

#imagen4{
    width: 80%;

}

#imagen5{
    width: 80%;

}

#imagen6{
    width: 80%;

}

#imagen7{
    width: 60%;

}

#imagen8{
    width: 92%;

}

#imagen9{
    width: 100%;

}

#imagen10{
    width: 90%;

}

#imagen11{
    width: 100%;

}

#imagen12{
    width: 50%;

}

#imagen13{
    width: 100%;
 

}

#imagen14{
    width: 100%;


}

#imagen15{
    width: 100%;


}

#imagen16{
    width: 80%;


}

#imagen17{
    width: 70%;


}

#imagen18{
    width: 70%;


}

#imagen19{
    width: 60%;



}

#imagen20{
    width: 92%;


}

#imagen21{
    width: 95%;


}

#imagen22{
    width: 92%;


}

#imagen23{
    width: 92%;


}

#imagen24{
    width: 95%;


}

#imagen25{
    width: 90%;


}


#imagen26{
    width: 97%;


}

#imagen27{
    width: 90%;


}

#imagen28{
    width: 90%;


}

#imagen29{
    width: 97%;


}

#imagen30{
    width: 70%;


}

#imagen36{
    width: 100%;


}

#imagen37{
    width: 100%;


}

#imagen38{
    width: 100%;


}

#imagen39{
    width: 100%;


}

#imagen40{
    width: 100%;


}

#imagen41{
    width: 90%;


}

#imagen42{
    width: 90%;


}

#imagen43{
    width: 97%;


}
#imagen44{
    width: 100%;


}

#imagen47{
    width: 50%;
}

#imagen48{
    width: 30%;
}

#imagen49{
    width: 60%;
}

#imagen50{
    width: 60%;
}
#imagen51{
    width: 80%;
}

#imagen51{
    width: 80%;
}

#imagen52{
    width: 100%;
}
#imagen53{
    width: 100%;
}
#imagen54{
    width: 100%;
}
#imagen56{
    width: 80%;
}


.frase-inicio{
    font-size:5em;
    color:cornsilk;
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 500;
    height: 200;

}
.form{
display: flex;
text-align: center;
background: lightblue;
padding: 45px 45px;

}

.pagina2{
    background:rgb(5, 81, 151,0.85);
    margin: 0 auto;
    padding: 1px;
    font-size: 2.5em;
    color:cornsilk;
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 5;
    height: 5;
}





.pagina3{
    background:rgb(104, 209, 209, 0.85);
    margin: 0 auto;
    padding: 1px;
    font-size: 2.5em;
    color:rgb(27, 5, 78);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 5;
    height: 5;
}

.pagina4{
    background:rgb(182, 239, 38,0.85);
    margin: 0 auto;
    padding: 1px;
    font-size: 2.5em;
    color:rgb(8, 61, 18);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 5;
    height: 5;
}

.pagina5{
    background:rgb(255, 225, 0,0.85);
    margin: 0 auto;
    padding: 1px;
    font-size: 2.5em;
    color:rgb(69, 56, 7);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 5;
    height: 5;
}

.pagina6{
    background: rgb(255, 175, 4, 0.85);
    margin: 0 auto;
    padding: 1px;
    font-size: 2.5em;
    color:rgb(30, 24, 3);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 5;
    height: 5;
}

.pagina7{
    background: rgb(253, 110, 0, 0.85);
    margin: 0 auto;
    padding: 1px;
    font-size: 2.5em;
    color:cornsilk;
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 5;
    height: 5;
}

.pagina8{
    background: rgb(197, 26, 26, 0.85);
    margin: 0 auto;
    padding: 1px;
    font-size: 2.5em;
    color:cornsilk;
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 5;
    height: 5;
}










/*----------------------estilos de menu-----------------*/

.main-nav{
    width: 100%;
    position:relative;
    z-index: 2000;
    padding: 10px;
}

.icon-menu{
    display:block;
    color:rgb(47, 6, 71);
    border: 2px solid rgb(44, 3, 62);
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    cursor:pointer;
    font-size: 1.5em;

}

.menu{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(250, 250, 250, 0.85) ;
    padding: 0;
    margin:0;
    list-style: none;
    text-align: center;
    height: 0%;
    overflow: hidden;
    transition: height .3s linear;


}
.menu__link{
    display: block;
    padding: 10px;
    color:black;
    text-decoration: none;

}
.menu__link:hover{
    background: rgb(28, 28, 19);
}

.menu__link--select{
    background: black;
}

.mostrar{
    height: 330px;
}
.banner{
    margin-top: -55px;
    position:relative;
}

#item-ocho a {
    background-color: rgb(197, 26, 26);
    color: #000;
    font-size: 1.2em;


    }

#item-siete a {
    background-color: rgb(253, 110, 0);
    color: #000;
    font-size: 1.2em;

        }

#item-seis a {
    background-color: rgb(255, 175, 4);
    color: #000;
    font-size: 1.2em;

 }

 #item-cinco a {
    background-color: rgb(255, 225, 0);
    color: #000;
    font-size: 1.2em;

    }
#item-cuatro a {
    background-color: rgb(182, 239, 38);
    color: #000;
    font-size: 1.2em;

        }

#item-tres a {
    background-color: rgb(104, 209, 209);
    color: #000;
    font-size: 1.2em;
       }

#item-dos a {
    background-color: rgb(5, 81, 151);
    color: #000;
    font-size: 1.2em;

       }
#item-uno a {
    background-color: rgb(170, 15, 231);
    color: #000;
    font-size: 1.2em;

        }

        #item-uno a:hover {
            background:rgb(239, 235, 235);
            }

          #item-dos a:hover {
            background:rgb(239, 235, 235);
            }

          #item-tres a:hover {
            background:rgb(239, 235, 235);
            }

          #item-cuatro a:hover {
            background:rgb(239, 235, 235);
            }

          #item-cinco a:hover {
            background:rgb(239, 235, 235);
            }

          #item-seis a:hover {
            background:rgb(239, 235, 235);
            }

            #item-siete a:hover {
                background:rgb(239, 235, 235);
                }
             #item-ocho a:hover {
                    background:rgb(239, 235, 235);
                    }




/*--------------------------------Estilos principales-------------------------*/



.frase-inicio{
    margin: 15px 0;
    font-size: 1.8e,;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 100;
    color: rgb(10, 10, 61);

}

.column__title{
    font-size: 1.3em;
}

.main__about__description.column:nth-child(2){
    padding: 10px;
}

#indice{

    font-size:1em;
    color:rgb(12, 10, 87);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 500;
    height: 200;  }

    #contenido{

        font-size:1em;
        color:rgb(12, 10, 87);
        text-align: center;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-weight: 500;
        height: 200;  }

#titulo1{
    font-size:1.5em;
    color:rgb(12, 10, 87);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 500;
    height: 200;
}


#info1{
    font-size:1em;
    color:rgb(12, 10, 87);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 500;
    height: 200;

}

#titulo2{
    font-size:1.5em;
    color:rgb(12, 10, 87);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 500;
    height: 200;
}

#titulo3{
    font-size:1.5em;
    color:rgb(12, 10, 87);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 500;
    height: 200;
}

#info3{
    font-size:1.2em;
    color:rgb(12, 10, 87);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 500;
    height: 200;
}

#info5{
    font-size:1.2em;
    color:rgb(12, 10, 87);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 500;
    height: 200;
}

#info6{
    font-size:1.2em;
    color:rgb(12, 10, 87);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 500;
    height: 200;
}

#titulo4{
    font-size:1.5em;
    color:rgb(12, 10, 87);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 500;
    height: 200;
}

#titulo5{
    font-size:1.5em;
    color:rgb(12, 10, 87);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 500;
    height: 200;
}

/*--------------------boton de ir arriba--------------------------------*/
#button-up{
    width:60px;
    height: 60px;
    background:rgb(1, 92, 165);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);

}

#button-up:hover{
    transform: scale(1.1);
    border-color:rgba(0, 0, 0,0, 1);
}




/*--------------------estilos del footer--------------------------------*/

.main-footer{
  background: palevioletred;
  color:rgb(118, 6, 66);
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 7px;
  font-size: .9em;
}
.copy{
    text-align: center;
    width: 20%;
    outline: none;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color:  #18e0ccde;
    border-radius: 6px;
    border: 2px solid  #1cddcade;
}

.copy:hover{
    color: #85d6ff;
    background-color: #f6ffa3de;
    border: 2px solid #f6ffa3de;
    text-decoration: none;
  }

 
 

  
  

.main-footer[class*="icon-"]{
    color:white;
    text-decoration: none;
}


/*--------------------estilos responsive-------------------------*/

@media screen and (min-width:480px) {
    .logo{
        color:white;
    }

    .main-nav{

        background:rgba(236, 159, 240, 0.85);

    }
    .banner{
        margin-top: -200px;
        z-index: 1000;
    }
    .banner__content{
        font-size: 2em;
    }
    .column--50{
        width: 49%;
    }
    .column--33{
        width: 33%;
    }
}
